html{
    background: linear-gradient(white, skyblue);
    background-size: cover;
    width: 100%;
    height: 100%;
}

#f1RacerForm{
    text-align: center;
    margin: 5%, auto;
}

#testing{
    margin: 2% auto;
}

.formHead{
    text-align: center;
    margin: 5%, auto;
}